@import "../../../Sass/__mixins.scss";
@import "../../../Sass/__variables.scss";

#nivo {
  margin-top: 200px;
  width: 100%;
  @include flex(center, center, row);
}

.nivo-graph {
  @include flex(center, center, row);
  height: 200px;
  width: 200px;
  position: absolute;
  &_left {
    left: 90px;
  }
  &_right {
    right: 90px;
  }
}

.chartjs-size-monitor {
  position: relative !important;
}

.doughnut-percents {
  width: 100%;
  @include flex(space-around, center, row);
  &__test {
    position: absolute;
    // left: 0;
    width: 500px;
    height: 300px;
    // background: blue;
    &_right {
      right: 0;
    }
    &_left {
      left: 0;
    }
  }
}
