.chartjs-size-monitor {
  position: relative !important; }

.doughnut-percents {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }
  .doughnut-percents__test {
    position: absolute;
    width: 500px;
    height: 300px; }
    .doughnut-percents__test_right {
      right: 0; }
    .doughnut-percents__test_left {
      left: 0; }
